[color]
	ui = true
[core]
	editor = /usr/bin/vim
	autocrlf = input
	safecrlf = true
[alias]
  hist = log --pretty=format:'%h %ar | %s%d [%an]' --graph --date=short
  a = add
  aa = add -A
  ap = add --patch
  b = branch
  ba = branch -va
  bl = blame
  c = checkout
  cln = clean -nd    
  clf = clean -fd
  cl = clone
  cft = cat-file -t    
  cfp = cat-file -p    
  cm = commit -m
  cam = commit -am
  co = count-objects
  cov = count-objects -v
  d = diff
  ds = diff --staged
  f = fetch
  fsck = fsck
  fscku = fsck --unreachable
  gc = gc
  l = log
  la = log --oneline --decorate --all --graph
  ld = log --oneline --decorate
  lh = hist
  lo = log --oneline
  loi = log origin/master ^master   
  loo = log master ^origin/master   
  lp = log --pretty=format:'%C(yellow)%h%Cred%d%Creset %C(magenta)<%an>%Creset %s %C(bold blue)(%cr)' --graph
  m = merge
  pl = pull
  ps = push
  pr = prune
  rf = reflog
  rm = remote
  rmv = remote -v
  rms = remote show
  rb = rebase
  rs = reset
  rss = reset --soft
  rsh = reset --hard
  rvl = rev-list HEAD --count
  s = status
  sl = shortlog
  slsn = shortlog -sn
  st = stash
  sta = stash apply
  stc = stash clear
  std = stash drop
  stl = stash list
  stp = stash pop
  sw = show
  t = tag
